==============================================================
  ____  __     __ _____  _   _     _      ____  _____  ____  
 / ___| \ \   / /| ____|| \ | |   / \    / ___|| ____||  _ \ 
 \___ \  \ \ / / |  _|  |  \| |  / _ \  | |  _ |  _|  | |_) |
  ___) |  \ V /  | |___ | |\  | / ___ \ | |_| || |___ |  _ < 
 |____/    \_/   |_____||_| \_|/_/   \_\ \____||_____||_| \_\

 This device is enrolled in Svenager fleet management.
 Instance: {{ motd_banner_url }}
{% if motd_banner_extra %}
 {{ motd_banner_extra }}
{% endif %}
==============================================================
